{% extends 'users/base.html' %}

{% block content %}
<div class="container-fluid">
 <table style="text-align : center;"   class="table table-lg table-dark">
  <thead>
    <tr style="text-align : center;">
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">username</th>
      <th scope="col">Last login</th>
      <th scope="col">Undesired words count</th>
      <th scope="col">Is Locked</th>
      <th scope"col" colspan=3 > Actions</th>
    </tr>
  </thead>
  <tbody>
{% for user in users %}
 
  {% if user.is_staff %}
        <tr class="bg-danger" >
  {% else %}
        <tr class="bg-primary">
  {% endif %}
  <td >{{user.id}}</td>
  <td >{{user.first_name}}</td>
  <td >{{user.last_name}}</td>
  <td>{{user.username}}</td>
  <td >{{user.last_login}}</td>
  <td >{{user.profile.undesired_words_count}}</td>
  <td >{{user.profile.is_locked}}</td>
  <td> <a class="btn btn-warning" href="show/{{user.id}}">show</a></td> 
  {% if user.profile.is_locked %}
     <td> <a class="btn btn-danger"  href="unlock/{{user.id}}"> Unlock </a></td>
  {% else %}
     <td> <a class="btn btn-danger"  href="lock/{{user.id}}" onclick= "return confirm('are you sure ?');"> Lock </a></td>
  {% endif %}
 
    <td> <a class="btn btn-danger"  href="delete/{{user.id}}" onclick= "return confirm('are you sure ?');" >delete</a> </td>
    <td> <a class="btn btn-success" href="promote/{{user.id}}">promote</a> </td>
</tr>

{% endfor %}
</tbody>
</table>
</div>
{% endblock  %}