<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome</h1>
    {% for post in posts %}
        <h2>title: {{post.title}}</h2>
        <h2>body: {{post.body}}</h2>
        {% for tag in post.tags.all %}
            <h2>tag: {{tag.name}}</h2>
        {% endfor %}
        <h2>category: {{post.category}}</h2>
        <h2>user: {{post.user}}</h2>
    {% endfor %}
    <h2>Categories<h2>
    {% for category in categories %}
        <h2>name: {{category.name}}</h2>
        {% if user in category.user.all %}
            <a href="unsubscribe/{{category.id}}">unsubscribe</a>
        {% else %}
            <a href="subscribe/{{category.id}}">subscribe</a>
        {% endif %}
        {% for subscriber in category.user.all %}
            <h2>subscriber: {{subscriber}}</h2>
        {% endfor %}
    {% endfor %}
</body>
</html>