.container #profile_picture_form {
  color: rgb(7, 7, 7);
}
#id_profile_pic {
  font-size: 1.15rem;
}
.container .btn-lg {
  padding: 10px 100px;
  background: rgb(135, 3, 47);
  background: linear-gradient(
    90deg,
    rgba(135, 3, 47, 1) 0%,
    rgba(2, 0, 36, 1) 14%,
    rgba(4, 71, 84, 1) 81%,
    rgba(161, 6, 57, 1) 100%
  );
}
.btn-lg {
  padding: 10px 50px;
  background-color: rgb(194, 97, 7);
}
